<html>
    <head>
        <title>
            Game Data
        </title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        
        <script type="text/javascript">
            $(document).ready(function(){
                var socket = io.connect('http://127.0.0.1:5000');
                $('#sendButton').on('click', function(){
                    socket.emit('gameData' ,{
                        username : $('#username').val(),
                        game : $('#game').val(),
                        par1 : $('#par1').val(),
                        par2 : $('#par2').val(),
                        par3 : $('#par3').val(),
                        data1 : $('#data1').val(),
                        data2 : $('#data2').val(),
                        data3 : $('#data3').val()
                    });
                    // $('#myMessage').val('');
                });
            });
        </script>
        <h2>{{gameName}}</h2>
        <br><br>
        <br><br>
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="text" name="game" id="game" placeholder="Game">
        <br><br>
        <input type="text" name="parameter1" id="par1" placeholder="Parameter">
        <input type="text" name="data1" id="data1" placeholder="Data">
        <br><br>
        <input type="text" name="parameter2" id="par2" placeholder="Parameter">
        <input type="text" name="data2" id="data2" placeholder="Data">
        <br><br>
        <input type="text" name="parameter3" id="par3" placeholder="Parameter">
        <input type="text" name="data3" id="data3" placeholder="Data">

        <br><br>
        <input type="button" id="sendButton" value="Submit">


    </body>
</html>