<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>

    <body>
        <h3>Create a new account</h3>
        
        <form action="{{url_for('signUpData')}}" method="POST">
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="lname" placeholder="Last Name"> 
            <br> <br>
            <input type="text" name="nickname" placeholder="Nick Name">
            <br> <br>
            <input type="number" name="phNum" placeholder="Contact Number">
            <br> <br>
            <input type="email" name="email" placeholder="Email ID">
            <br> <br>
            <input type="password" name="fpass" placeholder="Password">
            <br> <br>
            <input type="password" name="spass" placeholder="Confirm Password">
            <br> <br>
            <input type="text" name="city" placeholder="City">
            <input type="text" name="country" placeholder="Country">
            <br> <br>
            <label>Type of Account</label>
            <input type="radio" name="gamer" id="gamer">
            <label for="gamer">Gamer</label>
            <input type="radio" name="game" id="game">
            <label for="game">Game Account</label>
            <br> <br>
            <input type="submit" name="signUpButton" value="Sign Up">

        </form>
    </body>
</html>