<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>

    <body>
        <h3>Create a new account</h3>
        
        <form action="">
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="lname" placeholder="Last Name"> 
            <br> <br>
            <input type="number" name="phNum" placeholder="Contact Number">
            <br> <br>
            <input type="email" name="email" placeholder="Email ID">
            <br> <br>
            <input type="password" name="fpass" placeholder="Password">
            <br> <br>
            <input type="password" name="spass" placeholder="Confirm Password">

        </form>
    </body>
</html>